@import url('http://fonts.googleapis.com/css?family=Roboto+Condensed:700');
@import url('http://fonts.googleapis.com/css?family=Arizonia');
@import url('http://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('http://fonts.googleapis.com/css?family=Roboto Slab:400,700');


body {
	font-family: Roboto Slab;
	background-color: #fbfdfc;
	color: #33322e;

}

h1 {
	font-family: Roboto Condensed;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	color: #fbfdfc;
	margin: 20px;
	letter-spacing: 5px;
}

img {
	width: 25%;
}

.top {
	color: #fbfdfc;
	font-size: 16px;
	padding: 0px 0px 35px 0px;
	margin: 0px 0px 20px  0px;
	background-position: center;
	width: 100%;
	text-align: center;
	background-color: #2a67a2;
	border-bottom: 20px solid #0e2b47;
	border-top: 10px solid #0e2b47;
	border-radius: 5px;	
}

h2 {
	font-family: Roboto Condensed;
	font-size: 30px;
	font-weight: 700;
	color: rgba(0,0,0,.9);
	text-align: center;
	margin: 10px;
	letter-spacing: 2px;
	line-height: 27px;
}


p {
	
	font-size: 16px;
	padding: 10px;
	text-align: center;
	margin-right: 50px;
	margin-left: 50px;
	line-height: 20px;
}

div {
	text-align: center;
}

.project {
	padding: 30px;
	
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #424242;
	border: 20px solid #0e2b47;
	background-position: center;
	border-radius: 5px;

}

a:link {
	text-decoration: underline;
	color: #0e2b47;
}
a:hover {
	text-decoration: none;
	color: #0e2b47;
}
a:visited {
	text-decoration: none;
	color: #0e2b47;
}
a:active {
	text-decoration: none;
	color: #0e2b47;
}

@media (min-width: 400px) {
  
  .project {
  	width: 85%;
  	height: 200%;
  	padding: 5px;
  }
}

@media (min-width: 550px) {
.project {
	width: 100%;

}	
  
}
