h1 {
	font: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: rgba(0,0,0,.9);
	text-align: center;
	margin: 20px;
	letter-spacing: 5px;
}

.top {
	font: Georgia;
	font-size: 16px;
	color: rgba(0,0,0,.9);
	text-align: center;
	border: 40px solid #585858;
	padding: 35px;
	margin-bottom: 20px;
	background-color: #F2F2F2;
}

h2 {
	font: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: rgba(0,0,0,.9);
	text-align: center;
	margin: 10px;
	letter-spacing: 2px
}

h3 {
	font: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: rgba(0,0,0,.9);
	text-align: center;
	margin: 10px;
	letter-spacing: 2px
}
h4 {
	font: Georgia;
	font-size: 16px;
	font-weight: bold;
	color: rgba(0,0,0,.9);
	text-align: center;
	margin: 10px;
	letter-spacing: 2px
}
p {
	font: Georgia;
	font-size: 16px;
	padding: 10px;
	text-align: center;
	margin-right: 50px;
	margin-left: 50px;
}

div {
	text-align: center;
}
.project {
	padding: 30px;
	background-color: #D8D8D8;
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 20px;
	font: Georgia;
	font-size: 16px;
	color: #424242;
	border-bottom: 40px double #585858;
}

a:link {
	text-decoration: underline;
	color: black;
}
a:hover {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
	color: black;
}
a:active {
	text-decoration: none;
	color: black;
}
